body{
    background-color: rgb(54, 192, 49);
    font: normal 15pt arial;
}

#branco{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: arial;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.521);
    letter-spacing: 2px;
    
}



footer{
    font-style: italic;
}

div{
    text-align: center;
    padding: 0.4em;
    font-weight:500;
    color: rgb(71, 71, 71);
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.521);
}



select{
    width: 20em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.521);
}

p{
    margin-bottom: 0.3em;
}



section{
    background: white;
    border-radius: 1em;
    padding: 0.15em;
    width: 45em;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.521);
}

input[type=button]{
    border-radius: 1em;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 2em;
    width: 8em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.521);
}
input[type=button]:hover{
    border-radius: 1em;
    background-color: rgba(102, 102, 102, 0.288);
    color: rgb(0, 0, 0);
    height: 2em;
    width: 8em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.521);
}

div#quadro{
    display: flex;
    justify-content: space-evenly;
}

div#nomes{
    display: flex;
    justify-content: space-between;
    margin-right: 7em;
    margin-left: 6em;
}